@import url('https://fonts.googleapis.com/css?family=Lato');

:root{
    --weather-hue: 198;

    --weather-color-1: hsl( calc( var(--weather-hue) + 4 ), 24%, 27%);
    --weather-color-2: hsl( var(--weather-hue), 20%, 17%);
    --weather-color-3: hsl( calc( var(--weather-hue) + 2 ), 21%, 37%);

    --weather-color-4: hsl( calc( var(--weather-hue) + 6 ), 17%, 94%);
    --weather-color-5: hsl( calc( var(--weather-hue) - 162 ), 94%, 59%);
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #dfdfdf;
}

#root{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

#app{
    width: 360px;
    margin: 12px;
    background-color: var(--weather-color-5);
    color: var(--weather-color-4);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
    border-radius: 2px;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

#app h1, #app h2, #app h3, #app h4{
    padding: 0;
    margin: 0;
}

#app h1{
    font-weight: 500;
    font-size: 90px;
    margin: 16px 0;
}

#app h2{
    font-weight: 500;
    font-size: 32px;
}

#app h3{
    font-weight: 300;
    font-size: 20px;
}

#app h4{
    font-weight: 300;
    font-size: 16px;
}

#app section{
    display: block;
}

#app article{
    background-color: var(--weather-color-1);
}

#app article hr{
    height: 1px;
    border: none;
    width: calc(100% - 48px);
    padding: 0;
    margin: 0 24px 12px 24px;
    background-color: var(--weather-color-3);
}

#app section:nth-of-type(1){
    background-color: var(--weather-color-5);
    position: relative;
    display: grid;
    grid-template-columns: auto 2px 64px;
    grid-template-rows: 70px max-content;
    grid-template-areas:
        'search hr button'
        'list list list';
    align-items: stretch;
    color: var(--weather-color-2);
}

#app section:nth-of-type(1) > label{
    grid-area: search;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 'icon input';
    cursor: text;
}

#app section:nth-of-type(1) > label i{
    grid-area: icon;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 12px 24px 24px;
}

#app section:nth-of-type(1) input[type="text"]{
    grid-area: input;
    width: 100%;
    line-height: 22px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    color: var(--weather-color-2);
}

#app section:nth-of-type(1) input[type="text"]:focus{
    font-weight: bold;
}

#app section:nth-of-type(1) hr{
    grid-area: hr;
    display: block;
    width: 2px;
    height: 46px;
    padding: 0;
    margin: 12px 0;
    border: none;
    background-color: var(--weather-color-2);
}

#app section:nth-of-type(1) > .button{
    grid-area: button;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 40px;
    background-color: transparent;
    font-size: 28px;
    cursor: pointer;
    transition: opacity .2s;
}

#app section:nth-of-type(1) > .button:hover{
    opacity: 0.6;
}

#app section:nth-of-type(1) ul{
    font-size: 16px;
    grid-area: list;
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    top: 70px;
    left: 0;
    z-index: 1;
    color: var(--weather-color-4);
    background-color: rgba(0,0,0,0.12);
}

#app section:nth-of-type(1) ul p{
    margin: 16px 16px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: max-content auto;
    align-items: center;
}

#app section:nth-of-type(1) ul li{
    padding: 8px 16px;
    border-radius: 4px;
    grid-gap: 4px;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

#app section:nth-of-type(1) ul .button{
    cursor: pointer;
    background-color: rgba(0,0,0,0.16);
    transition: background-color .3s, color .3s;
}

#app section:nth-of-type(1) ul .button:hover{
    background-color: rgba(0,0,0,0.25);
}

#app section:nth-of-type(1) ul label .button:hover{
    color: var(--weather-color-5);
}

#app section:nth-of-type(1) ul input[type='button']{
    display: none;
}

#app section:nth-of-type(2) article:first-of-type{
    padding: 24px 24px 12px 24px;
    display: grid;
    grid-template-columns: auto auto auto max-content;
    grid-template-areas: 
        'city city city localization'
        'description description description description'
        'temperature temperature icon icon'
        'bar bar bar bar';
    background-color: var(--weather-color-2);
}

#app section:nth-of-type(2) article:first-of-type h2{
    grid-area: city;
}

#app section:nth-of-type(2) article:first-of-type .button{
    grid-area: localization;
    justify-self: end;
    align-self: center;
    font-size: 32px;
    cursor: pointer;
}

#app section:nth-of-type(2) article:first-of-type .button:hover{
    color: var(--weather-color-5);
}

#app section:nth-of-type(2) article:first-of-type h2{
    grid-area: city;
}

#app section:nth-of-type(2) article:first-of-type h3{
    grid-area: description;
    word-wrap: break-word;
    text-transform: lowercase;
}

#app section:nth-of-type(2) article:first-of-type h3::first-letter{
    text-transform: uppercase;
}

#app section:nth-of-type(2) article:first-of-type h1{
    grid-area: temperature;
}

#app section:nth-of-type(2) article:first-of-type i{
    grid-area: icon;
    justify-self: end;
    align-self: center;
    width: 100%;
}

#app section:nth-of-type(2) article:first-of-type i img{
    width: 100px;
    float: right;
    filter: brightness(450%);
}

#app section:nth-of-type(2) article:first-of-type > div{
    grid-area: bar;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: 
        'sunrise now sunset'
        'progress progress progress';
}

#app section:nth-of-type(2) article:first-of-type div h3:nth-of-type(1){
    grid-area: sunrise;
    text-align: left;
}

#app section:nth-of-type(2) article:first-of-type div h3:nth-of-type(2){
    grid-area: now;
    text-align: center;
}

#app section:nth-of-type(2) article:first-of-type div h3:nth-of-type(3){
    grid-area: sunset;
    text-align: right;
}

#app section:nth-of-type(2) article:first-of-type div .progress{
    width: 100%;
    background-color: var(--weather-color-1);
    height: 6px;
    border-radius: 4px;
    margin: 8px 0 0 0;
    position: relative;
    overflow: hidden;
    grid-area: progress;
}

#app section:nth-of-type(2) article:first-of-type div .progress div:last-of-type{
    height: 100%;
    background-color: var(--weather-color-3);
}

#app section:nth-of-type(2) article:first-of-type div .progress div:not(:last-of-type){
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid var(--weather-color-4);
    position: absolute;
    top: 0;
    left: 0;
}

#app section:nth-of-type(2) article:first-of-type div .progress input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#app section:nth-of-type(2) article:first-of-type div .progress input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4px;
    height: 16px;
    background: var(--weather-color-5);
    cursor: pointer;
}

#app section:nth-of-type(2) article:last-of-type{
    padding: 12px 24px 8px 24px;
}

#app section:nth-of-type(2) article:last-of-type h3{
    margin: 8px 0;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-gap: 4px;
}

#app section:nth-of-type(2) article:last-of-type h3 p{
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

#app section:nth-of-type(2) article:last-of-type h3 p::first-letter{
    text-transform: uppercase;
}

#app section:nth-of-type(3) article:last-of-type{
    background-color: var(--weather-color-3);
    padding: 12px 0 24px;
}

#app section:nth-of-type(3) article:last-of-type ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#app section:nth-of-type(3) article:last-of-type li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#app section:nth-of-type(3) article:last-of-type h3{
    display: grid;
    grid-template-columns: auto max-content;
    line-height: 32px;
    margin: 4px 24px;
    cursor: pointer;
}

#app section:nth-of-type(3) article:last-of-type h3:hover{
    color: var(--weather-color-5);
}

#app section:nth-of-type(3) article:last-of-type input[type='radio']{
    display: none;
}

#app section:nth-of-type(3) article:last-of-type input[type='radio']:checked ~ h3{
    color: var(--weather-color-5);
}

#app article .bar{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 4px;
    margin: 4px 24px 8px;
    padding: 4px 0;
    justify-items: stretch;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#app article .bar input[type=radio]{
    display: none;
}

#app article .bar label:hover{
    cursor: pointer;
    color: var(--weather-color-5);
}

#app article .bar input[type=radio]:checked ~ i{
    color: var(--weather-color-5);
}

#app article .timeline{
    padding: 4px 20px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: stretch;
    font-size: 16px;
}

#app article .timeline:hover{
    overflow: auto;
}

#app article .timeline div{
    padding: 0 12px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-rows: max-content auto max-content;
}

#app article .timeline img{
    margin: 8px 0;
    width: 32px;
    filter: brightness(450%);
}

#app article .timeline p, #app article .timeline b{
    padding: 0;
    margin: 8px 0;
    display: block;
}

#app article .timeline p{
    padding: 2px 4px;
    border-radius: 2px;
    background-color: var(--weather-color-4);
    color: var(--weather-color-3)
}

#app article .timeline::-webkit-scrollbar{
    height: 6px;
    width: 100%;
}

#app article .timeline::-webkit-scrollbar-button{
    display: none;
}

#app article .timeline::-webkit-scrollbar-thumb{
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
}

#app article .timeline::-webkit-scrollbar-track{
    background-color: transparent;
}

#app article .timeline::-webkit-scrollbar-track-piece{
    display: none;
}

#app article .timeline::-webkit-scrollbar-corner{
    display: none;
}

#app article .timeline::-webkit-resizer{
    display: none;
}

#app article .timeline:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.1);
}

#app article .timeline:hover::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.05);
}



.unit::after{
    font-size: 0.60em;
    margin: 0 2px;
    vertical-align: top;
    white-space: pre;
}

.celsius::after{
    content: "°C";
}

.pascal::after{
    content: "hPa";
}

.percent::after{
    content: "%";
}

.metersperseconds::after{
    content: "m/sec";
}

.meters::after{
    content: "m";
}

.minutes::after{
    content: "min";
}

.millimeter::after{
    content: "mm";
}


#app .pending{
    position: relative;
    text-align: center;
    width: 32px;
    height: 32px;
    font-weight: bold;
    color: var(--weather-color-5);
    line-height: 32px;
    font-size: 16px;
    display: block;
}

#app .pending:before{
    position: absolute;
    top: 0;
    left: 0;
    animation-name: spin;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	content: "";
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: block;
	background-color: transparent;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-top-color: var(--weather-color-5);
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.hideElement{
    display: none !important;
}

@media only screen and (max-width: 390px) {
    #app{
        margin: 0;
        width: 100%;
        min-width: 340px;
        border-radius: 0;
    }
}