@import url('https://fonts.googleapis.com/css?family=Lato');

:root{
    --weather-hue: 198;

    --weather-color-1: hsl( calc( var(--weather-hue) + 4 ), 24%, 27%);
    --weather-color-2: hsl( var(--weather-hue), 20%, 17%);
    --weather-color-3: hsl( calc( var(--weather-hue) + 2 ), 21%, 37%);

    --weather-color-4: hsl( calc( var(--weather-hue) + 6 ), 17%, 94%);
    --weather-color-5: hsl( calc( var(--weather-hue) - 162 ), 94%, 59%);

    --weather-color-6: rgba(0,0,0,0.12);
    --weather-color-7: rgba(0,0,0,0.25);

    --spacing-1: 24px;
    --spacing-2: 16px;
    --spacing-3: 10px;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #dfdfdf;
}

#root{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

#app{
    width: 360px;
    margin: var(--spacing-2);
    background-color: var(--weather-color-5);
    color: var(--weather-color-4);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
    border-radius: 2px;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

#app .button{
    cursor: pointer;
}

#app input[type='button'], #app input[type='submit']{
    display: none;
}

#app input[type='button']:disabled ~ .button, #app input[type='submit']:disabled ~ .button{
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(100%);
}

#app h1, #app h2, #app h3, #app h4{
    padding: 0;
    margin: 0;
}

#app h1{
    font-weight: 500;
    font-size: 90px;
    margin: 16px 0;
}

#app h2{
    font-weight: 600;
    font-size: 32px;
}

#app h3{
    font-weight: 300;
    font-size: 20px;
}

#app h4{
    font-weight: 300;
    font-size: 16px;
}

#app section{
    display: block;
}

#app article{
    background-color: var(--weather-color-1);
}

#app article hr{
    height: 1px;
    border: none;
    width: calc(100% - calc( var(--spacing-1) * 2 ));
    padding: 0;
    margin: 0 var(--spacing-1) var(--spacing-2) var(--spacing-1);
    background-color: var(--weather-color-3);
}

#app section:nth-of-type(1){
    background-color: var(--weather-color-5);
    position: relative;
    color: var(--weather-color-2);
    display: grid;
}

#app section:nth-of-type(1) article:first-of-type{
    background-color: var(--weather-color-5);
    display: grid;
    grid-template-columns: auto 2px max-content;
    grid-template-rows: 70px;
    grid-template-areas:
        'search hr button';
    align-items: stretch;
}

#app section:nth-of-type(1) article:first-of-type > label:first-of-type{
    grid-area: search;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 'icon input';
    cursor: text;
}

#app section:nth-of-type(1) article:first-of-type > label:first-of-type i{
    grid-area: icon;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-2) 0 var(--spacing-1);
    height: 100%;
}

#app section:nth-of-type(1) article:first-of-type > label:first-of-type input[type="text"]{
    grid-area: input;
    width: 100%;
    height: 100%;
    line-height: 22px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    color: var(--weather-color-2);
    transition: opacity .2s;
    opacity: 0.6;
}

#app section:nth-of-type(1) article:first-of-type > label:first-of-type input[type="text"]:focus{
    opacity: 1;
}

#app section:nth-of-type(1) article:first-of-type > hr{
    grid-area: hr;
    display: block;
    width: 2px;
    height: calc( 100% - calc( var(--spacing-2) * 2 ) );
    padding: 0;
    margin: var(--spacing-2) 0;
    border: none;
    background-color: var(--weather-color-2);
}

#app section:nth-of-type(1) article:first-of-type > label:last-of-type{
    grid-area: button;
}

#app section:nth-of-type(1) article:first-of-type > label:last-of-type .button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-2);
    height: 100%;
    max-width: 40px;
    background-color: transparent;
    font-size: 28px;
    transition: opacity .2s;
}

#app section:nth-of-type(1) article:first-of-type > label:last-of-type input[type='button']:not(:disabled) ~ .button:hover{
    opacity: 0.6;
}

#app section:nth-of-type(1) article:last-of-type{
    background-color: var(--weather-color-6);
}

#app section:nth-of-type(1) article:last-of-type ul{
    font-size: 16px;
    grid-area: list;
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    color: var(--weather-color-4);
}

#app section:nth-of-type(1) article:last-of-type ul p{
    padding: var(--spacing-2) var(--spacing-1);
    margin: 0;
    display: grid;
    grid-gap: var(--spacing-2);
    align-items: center;
}

#app section:nth-of-type(1) article:last-of-type ul p:first-of-type{
    grid-template-columns: max-content auto;
}

#app section:nth-of-type(1) article:last-of-type ul li{
    padding: 8px 16px;
    border-radius: 4px;
    grid-gap: 4px;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

#app section:nth-of-type(1) article:last-of-type ul p:last-of-type label:not(:nth-of-type(-n+4)){
    display: none;
}

#app section:nth-of-type(1) article:last-of-type ul .button{
    cursor: pointer;
    background-color: var(--weather-color-6);
    transition: background-color .3s, color .3s;
}

#app section:nth-of-type(1) article:last-of-type ul input:not(:disabled) ~ .button:hover{
    background-color: var(--weather-color-7);
}

#app section:nth-of-type(1) article:last-of-type ul input[type='button']:not(:disabled) ~ .button:hover{
    color: var(--weather-color-5);
}

#app section:nth-of-type(2) article:first-of-type{
    padding: var(--spacing-1) var(--spacing-1) var(--spacing-2) var(--spacing-1);
    display: grid;
    grid-template-columns: auto auto auto max-content;
    grid-template-areas: 
        'city city city localization'
        'description description description description'
        'temperature temperature icon icon'
        'bar bar bar bar';
    background-color: var(--weather-color-2);
}

#app section:nth-of-type(2) article:first-of-type h2{
    grid-area: city;
}

#app section:nth-of-type(2) article:first-of-type label{
    grid-area: localization;
    justify-self: end;
    align-self: center;
    font-size: 32px;
    cursor: pointer;
    transition: color .2s;
}

#app section:nth-of-type(2) article:first-of-type .button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#app section:nth-of-type(2) article:first-of-type label input[type="button"]:not(:disabled) ~ .button:hover{
    color: var(--weather-color-5);
}

#app section:nth-of-type(2) article:first-of-type h2{
    grid-area: city;
}

#app section:nth-of-type(2) article:first-of-type h3{
    grid-area: description;
    word-wrap: break-word;
    text-transform: lowercase;
}

#app section:nth-of-type(2) article:first-of-type h3::first-letter{
    text-transform: uppercase;
}

#app section:nth-of-type(2) article:first-of-type h1{
    grid-area: temperature;
    margin: calc( var(--spacing-2) * 2 ) 0;
}

#app section:nth-of-type(2) article:first-of-type > i{
    grid-area: icon;
    justify-self: end;
    align-self: center;
    width: 100%;
    margin: calc( var(--spacing-2) * 2 ) 0;
}

#app section:nth-of-type(2) article:first-of-type > i img{
    width: 100px;
    float: right;
    filter: brightness(450%);
}

#app section:nth-of-type(2) article:first-of-type > div{
    grid-area: bar;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: 
        'sunrise now sunset'
        'progress progress progress';
}

#app section:nth-of-type(2) article:first-of-type div h3:nth-of-type(1){
    grid-area: sunrise;
    text-align: left;
}

#app section:nth-of-type(2) article:first-of-type div h3:nth-of-type(2){
    grid-area: now;
    text-align: center;
}

#app section:nth-of-type(2) article:first-of-type div h3:nth-of-type(3){
    grid-area: sunset;
    text-align: right;
}

#app section:nth-of-type(2) article:first-of-type div .progress{
    width: 100%;
    background-color: var(--weather-color-1);
    height: 6px;
    border-radius: 3px;
    margin: var(--spacing-3) 0 0 0;
    position: relative;
    overflow: hidden;
    grid-area: progress;
}

#app section:nth-of-type(2) article:first-of-type div .progress div:last-of-type{
    height: 100%;
    background-color: var(--weather-color-3);
}

#app section:nth-of-type(2) article:first-of-type div .progress div:not(:last-of-type){
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid var(--weather-color-4);
    position: absolute;
    top: 0;
    left: 0;
}

#app section:nth-of-type(2) article:first-of-type div .progress input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#app section:nth-of-type(2) article:first-of-type div .progress input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4px;
    height: 16px;
    background: var(--weather-color-5);
    cursor: pointer;
}

#app section:nth-of-type(2) article:first-of-type div .progress input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4px;
    height: 16px;
    background: var(--weather-color-5);
    cursor: pointer;
}

#app section:nth-of-type(2) article:last-of-type{
    padding: var(--spacing-2) var(--spacing-1) calc( var(--spacing-2) / 2 ) var(--spacing-1);
}

#app section:nth-of-type(2) article:last-of-type h3{
    margin: var(--spacing-3) 0;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-gap: 4px;
}

#app section:nth-of-type(2) article:last-of-type h3 p{
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

#app section:nth-of-type(2) article:last-of-type h3 p::first-letter{
    text-transform: uppercase;
}

#app section:nth-of-type(3) article:last-of-type{
    background-color: var(--weather-color-3);
    padding: var(--spacing-2) 0 calc( var(--spacing-2) / 2 );
}

#app section:nth-of-type(3) article:last-of-type ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#app section:nth-of-type(3) article:last-of-type li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#app section:nth-of-type(3) article:last-of-type h3{
    display: grid;
    grid-template-columns: auto max-content;
    margin: var(--spacing-3) var(--spacing-1);
    cursor: pointer;
    transition: color .2s;
}

#app section:nth-of-type(3) article:last-of-type h3:hover{
    color: var(--weather-color-5);
}

#app section:nth-of-type(3) article:last-of-type input[type='radio']{
    display: none;
}

#app section:nth-of-type(3) article:last-of-type input[type='radio']:checked ~ h3{
    color: var(--weather-color-5);
    font-weight: bold;
}

#app article .bar{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 4px;
    margin: var(--spacing-3) var(--spacing-1) var(--spacing-3);
    padding: 4px 0;
    justify-items: stretch;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#app article .bar input[type=radio]{
    display: none;
}

#app article .bar label:hover{
    cursor: pointer;
    color: var(--weather-color-5);
}

#app article .bar input[type=radio] ~ i{
    position: relative;
    transition: color .2s;
}

#app article .bar input[type=radio] ~ i::after{
    content: '';
    width: 5px;
    height: 5px;
    bottom: -9px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    transition: background-color .5s;
}

#app article .bar input[type=radio]:checked ~ i{
    color: var(--weather-color-5);
}

#app article .bar input[type=radio]:checked ~ i::after{
    background-color: var(--weather-color-5);
}

#app article .timeline{
    padding: 4px var(--spacing-1) var(--spacing-2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: stretch;
    font-size: 16px;
}

#app article .timeline:hover{
    overflow: auto;
}

#app article .timeline div{
    padding: 0 12px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-rows: max-content auto max-content;
}

#app article .timeline img{
    margin: 8px 0;
    width: 32px;
    filter: brightness(450%);
}

#app article .timeline p, #app article .timeline b{
    padding: 0;
    margin: 8px 0;
    display: block;
}

#app article .timeline p{
    padding: 2px 4px;
    border-radius: 2px;
    background-color: var(--weather-color-4);
    color: var(--weather-color-3)
}

#app article .timeline::-webkit-scrollbar{
    height: 6px;
    width: 100%;
}

#app article .timeline::-webkit-scrollbar-button{
    display: none;
}

#app article .timeline::-webkit-scrollbar-thumb{
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
}

#app article .timeline::-webkit-scrollbar-track{
    background-color: transparent;
}

#app article .timeline::-webkit-scrollbar-track-piece{
    display: none;
}

#app article .timeline::-webkit-scrollbar-corner{
    display: none;
}

#app article .timeline::-webkit-resizer{
    display: none;
}

#app article .timeline:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.1);
}

#app article .timeline:hover::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.05);
}

#app footer{
    background-color: var(--weather-color-3);
    padding: var(--spacing-2) var(--spacing-1);
    text-align: right;
    font-size: 12px;
    color: var(--weather-color-4);
}

#app footer i{
    opacity: 0.45;
    line-height: 16px;
}

#app footer a, #app footer a:link, #app footer a:visited{
    text-decoration: underline;
    color: var(--weather-color-4);
}

#app footer a:hover{
    color: var(--weather-color-5);
}

#app footer a:active{
    font-weight: bold;
}



.unit::after{
    font-size: 0.60em;
    margin: 0 2px;
    vertical-align: top;
    white-space: pre;
}

.celsius::after{
    content: "°C";
}

.pascal::after{
    content: "hPa";
}

.percent::after{
    content: "%";
}

.metersperseconds::after{
    content: "m/sec";
}

.meters::after{
    content: "m";
}

.minutes::after{
    content: "min";
}

.millimeter::after{
    content: "mm";
}


#app input[type='button']:disabled ~ .button{
    opacity: 0.5;
    cursor: not-allowed;
}

#app .loading{
    overflow: hidden;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid var(--weather-color-6);
    width: calc(100% - 10px);
    height: 8px;
    position: relative;
    text-align: center;
    line-height: 8px;
    font-size: 6px;
    color: var(--weather-color-2);
}

#app .loading::before, #app .loading::after{
    animation: stretch 2s infinite linear;
    content: '';
    width: 100%;
    height: 8px;
    opacity: 0;
    display: block;
    position: absolute;
    margin: 4px;
    top: 0;
    background-color: var(--weather-color-4);
}

#app .loading::before{
    animation-delay: 1s;
}

#app .loading::after{
    animation-delay: 0s;
}

#app .pending{
    position: relative;
    text-align: center;
    width: 32px;
    height: 32px;
    font-weight: bold;
    color: var(--weather-color-5);
    line-height: 32px;
    font-size: 16px;
    display: block;
}

#app .pending:before{
    position: absolute;
    top: 0;
    left: 0;
    animation-name: spin;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	content: "";
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: block;
	background-color: transparent;
    border-width: 4px;
    border-style: solid;
    border-color: var(--weather-color-6);
    border-top-color: var(--weather-color-5);
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes stretch{
    0%{
        transform: scaleX(0);
        opacity: 1;
    }
    100%{
        transform: scaleX(1);
        opacity: 0;
    }
}

.hideElement{
    display: none !important;
}

@media only screen and (max-width: 390px) {
    #app{
        margin: 0;
        width: 100%;
        min-width: 340px;
        border-radius: 0;
    }
}

@media only screen and (min-width: 450px) {
    :root{
        --spacing-1: 40px;
        --spacing-2: 20px;
        --spacing-3: 16px;
    }
    #app{
        margin: 0;
        width: 100%;
        min-width: 340px;
        border-radius: 0;
    }
    #app section:nth-of-type(1) article:first-of-type > label:last-of-type .button{
        padding: 0 var(--spacing-1);
    }
    #app section:nth-of-type(2) article:first-of-type div .progress{
        height: 8px;
        border-radius: 4px;
    }
}

@media only screen and (min-width: 550px) {
    #app{
        margin: var(--spacing-2);
        width: 550px;
    }
}

@media only screen and (min-width: 1080px) {

    :root{
        --spacing-1: 42px;
        --spacing-2: 22px;
        --spacing-3: 18px;
    }

    #app{
        margin: 0;
        width: 100%;
        display: grid;
        position: relative;
        background-color: var(--weather-color-5);
    }

    #app h1{
        font-size: 100px;
    }

    #app h2{
        font-size: 36px;
    }

    #app h3{
        font-size: 24px;
    }

    #app h4{
        font-size: 20px;
    }

    #app section:nth-of-type(1){
        --spacing-1: 24px;
        --spacing-2: 16px;
        --spacing-3: 10px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 2;
        grid-template-rows: 70px auto;
        box-shadow: 1px 2px 32px rgba(0,0,0,0.6);
        background-color: var(--weather-color-5);
    }

    #app section:nth-of-type(2){
        background-color: var(--weather-color-2);
        padding: var(--spacing-1) calc( var(--spacing-2) * 2 );
        display: grid;
        grid-template-columns: repeat(2, calc( 450px - calc( var(--spacing-1) / 2 ) ));
        grid-auto-flow: column;
        justify-content: center;
        grid-gap: var(--spacing-1);

    }
    
    #app section:nth-of-type(2) article:first-of-type{
        padding: 0;
    }

    #app section:nth-of-type(2) article:first-of-type label{
        align-self: start;
    }

    #app section:nth-of-type(2) article:first-of-type div{
        align-content: flex-end;
        grid-template-rows: max-content max-content;
    }

    #app section:nth-of-type(2) article:last-of-type{
        padding: var(--spacing-1);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #app section:nth-of-type(3){
        padding: var(--spacing-1) calc( var(--spacing-2) * 2 );
        background-color: var(--weather-color-3);
    }

    #app section:nth-of-type(3) article{
        width: calc( 900px + var(--spacing-1) );
        margin: 0 auto;
    }

    #app section:nth-of-type(3) article:first-of-type{
        border-radius: 16px;
        width: calc( calc( 900px + var(--spacing-1) ) - calc(  var(--spacing-2) * 2 ) );
        overflow: hidden;
        margin-bottom: var(--spacing-1);
    }
    
    #app section:nth-of-type(3) article:first-of-type hr{
        display: none;
    }
    
    #app section:nth-of-type(3) article:first-of-type .bar{
        background-color: var(--weather-color-6);
        padding: var(--spacing-2) calc( var(--spacing-2) + var(--spacing-1) );
        margin: 0;
    }

    #app section:nth-of-type(3) article:first-of-type .timeline{
        padding: var(--spacing-2);
    }

    #app section:nth-of-type(3) article:last-of-type ul{
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        width: 100%;
    }

    #app section:nth-of-type(3) article:last-of-type ul li{
        width: calc(50% - var(--spacing-2));
        margin-bottom: var(--spacing-1);
    }

    #app section:nth-of-type(3) article:last-of-type input[type='radio']:checked ~ h3{
        color: var(--weather-color-4);
        font-weight: normal;
    }

    #app section:nth-of-type(3) article:last-of-type input[type='radio'] ~ h3:hover{
        color: var(--weather-color-4);
    }

    #app section:nth-of-type(3) article:last-of-type ul li .timeline{
        margin: 4px var(--spacing-1) var(--spacing-2);
        padding: 0;
    }

    #app section:nth-of-type(3) article:last-of-type li .hideElement{
        display: block !important;
    }

    #app footer{
        font-size: 16px;
    }

}

@media only screen and (min-width: 1440px) {
    
    :root{
        --spacing-1: 40px;
    }

    #app{
        grid-template-areas: 
            'localization current'
            'localization forecast'
            'localization footer';
        grid-template-columns: 360px auto;
        grid-template-rows: max-content auto;
    }

    #app section:nth-of-type(1){
        grid-area: localization;
        box-shadow: none;
        position: sticky;
        top: 0;
        left: unset;
        height: 100%;
    }

    #app section:nth-of-type(1).hideElement{
        display: grid !important;
    }

    #app section:nth-of-type(2){
        grid-area: current;
    }

    #app section:nth-of-type(2) article:first-of-type .button{
        display: none;
    }

    #app section:nth-of-type(3){
        grid-area: forecast;
    }

    #app footer{
        grid-area: footer;
    }

}

@media only screen and (min-width: 2000px) {
    #app{
        margin: var(--spacing-2);
        width: 1440px;
    }
}