
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-humidity-outlined:before { content: '\e801'; } /* '' */
.icon-pressure-1:before { content: '\e802'; } /* '' */
.icon-rain-2:before { content: '\e803'; } /* '' */
.icon-wind:before { content: '\e805'; } /* '' */
.icon-arrow-fill:before { content: '\e806'; } /* '' */
.icon-arrow-outlined:before { content: '\e807'; } /* '' */
.icon-arrow:before { content: '\e808'; } /* '' */
.icon-humidity-multiple-fill:before { content: '\e809'; } /* '' */
.icon-humidity-fill:before { content: '\e80a'; } /* '' */
.icon-temperature:before { content: '\e80b'; } /* '' */
.icon-temperature-0:before { content: '\e80c'; } /* '' */
.icon-temperature-1:before { content: '\e80d'; } /* '' */
.icon-temperature-2:before { content: '\e80e'; } /* '' */
.icon-temperature-3:before { content: '\e80f'; } /* '' */
.icon-horizon-sunset:before { content: '\e810'; } /* '' */
.icon-horizon-sunrise:before { content: '\e811'; } /* '' */
.icon-temperature-4:before { content: '\e812'; } /* '' */
.icon-pressure-2:before { content: '\e813'; } /* '' */
.icon-rain-1:before { content: '\e814'; } /* '' */
.icon-localization-3:before { content: '\e815'; } /* '' */
.icon-localization-4:before { content: '\e816'; } /* '' */
.icon-localization-1:before { content: '\e817'; } /* '' */
.icon-localization-2:before { content: '\e818'; } /* '' */
.icon-visibility:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */